# Task Description
Implement Logistic Regression Model on the following dataset:

https://github.com/navoneel1092283/logistic_regression

You have to implement the Algorithm from scratch in Python i.e., without using Scikit-Learn or any other Machine Learning Toolbox. The dataset contains marks obtained by students in 2 exams as features and the target label, 0/1 as whether they will be admitted to the university (1) or not (0).

[Use alpha = 0.001 and number of iterations for Gradient Descent = 100000].

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("dataset.txt",sep=",")

In [3]:
data.head()

     Marks_1    Marks_2  Result
0  34.623660  78.024693       0
1  30.286711  43.894998       0
2  35.847409  72.902198       0
3  60.182599  86.308552       1
4  79.032736  75.344376       1

# Splitting the data in X(train,test),y(train,test)

In [4]:
X=data.iloc[:,0:2].values

In [5]:
X.shape

(100, 2)

In [6]:
y=data.iloc[:,-1].values

In [7]:
y.shape

(100,)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [9]:
X_train.shape

(80, 2)

In [10]:
y_train.shape

(80,)

# Creating a User defined class for Linear Regression:

In [235]:
class LogisticRegression:
    def __init__(self):
        self.weight=None
        self.b=0
    def fit(self,x,y):
        n,w=X.shape
        self.weight=np.zeros(w) #Creation of matrix of co-efficient
        lr=0.001
        for i in range(0,99999):
            eq=np.dot(x,weight)+b
            sig=1/(1+np.exp(-eq)) #calculation of Sigmoid function
            devw=(1/n) * np.dot(x.T,(sig-y)) #differentiation for W
            devb=(1/n) * np.sum(sig-y) #differentiation for b
            setpw=lr*devw
            stepb=lr*devb
            new_w=self.weight-stepw
            new_b=self.b-stepb
            if(abs(stepw).any()<=0.001 and abs(stepb)<=0.001):
                break
            else:
                self.weight=new_w
                self.b=new_b
        return self.weight,self.b      
    def predict(self,x):
        eqn=np.dot(x,self.weight)+self.b
        pred=1/(1+np.exp(-eqn))
        for j in pred:
            if j<0.5:
                x=0
            else:
                x=1
        return pred,x

In [236]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

(array([0.04745207, 0.05008068]), 8.999910000010614)

In [234]:
y1,y2=predict(X_test)

In [231]:
data={"Original":y_test,"Predicted":y2,"P(z)":y1}
new=pd.DataFrame(data)
new

    Original  Predicted      P(z)
0          1          1  0.906505
1          0          0  0.477201
2          1          1  0.951634
3          1          1  0.685352
4          1          1  0.643860
5          0          0  0.413919
6          1          1  0.828756
7          1          1  0.937833
8          1          1  0.908264
9          0          0  0.354671
10         1          1  0.616689
11         0          1  0.734952
12         0          0  0.381396
13         0          0  0.263252
14         1          1  0.912812
15         0          0  0.177514
16         0          0  0.342845
17         1          1  0.887395
18         1          1  0.678671
19         0          0  0.476263

In [232]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y2,y_test))

0.95